@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

:root {
  --color-main: #FF4200;
  --color-sub: #00A200;
  --color-dark: #2F4858;
  --color-emph: #F10F5F;
  --color-text: #281812;
  --color-lighter: #DC9C86;
  --color-light-bd: #FFE6D6;
  --color-light-bg: #FFF5ED;

  --font-code: 'Nanum Gothic Coding', monospace;;

  --font-size-title: 44px;
  --font-size-subtitle: 32px;
  --font-size-tag: 26px;
  --font-size-larger: 20px;
  --font-size-text: 18px;

  --height-toolbar: 72px;
}

body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;

  /* 개발용 설정 */
  
}

li{ list-style: none; } 
a{ text-decoration: none; } 
button{ cursor: pointer; }

body{ background-color: #ededed; }


#con{
  width:100%;
  height: 100vh;
  background-color:#f5f1ee;
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover;
  padding:0;
}

#login_form{
   /* text-align:center; */
  border-radius: 10px;
  padding:30px 50px;
  background: #fff;
  text-align: center;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.login{
  font-size:25px;
  font-weight: 900;
  color:#333;
}

.size{
  width:300px;
  height:30px;
  padding-left:10px;
  background-color: #f4f4f4;
   /* margin-left:10px; */
  border:none;
  border-radius: 5px;
}

.region{
  display: block; width : 400px; line-height:10px;
}

.selectbox {
  width: 300px; 
  padding: .8em .5em; 
  border: 1px solid #999;
  font-family: inherit;  
  background: url('arrow.jpg') no-repeat 95% 50%; 
  border-radius: 0px; 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.selectbox::ms-expand{
  display: none;
}



.btn{
  width:310px;
  height: 40px;
  font-size:15px;
  background-color: #df3278;
  color:#fff;
  border:none;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover{
  background:#ca296a;
}

hr{
  margin-top:20px;
  background:#eee;
}

.find{
  color:#ddd;
  font-size:12px;
}

.find span{
  padding-left:10px;
}

.find span::before{
  content:'|';
  color:#333;
  padding-right: 10px;
}

.find span:nth-child(1):before{
  content:none;
}

.find span:nth-child(1){
  padding-left:0px;
}

.find a:hover{
  color:#707070;
}